.skills {
  .center-text {
    text-align: center;
    margin-bottom: 4.2rem;
    h2 {
      font-size: var(--h2-font);
      span {
        color: var(--main-color);
      }
    }
  }
  p {
    font-size: var(--p-font);
    color: var(--other-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
    .box {
      text-align: center;
      padding: 1.5rem 1rem;
      background: #2d343f;
      border-radius: 20px;
      border: 1px solid transparent;
      box-shadow: 0 0 5px var(--main-color);
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        border: 1px solid var(--main-color);
        transform: translateY(-5px) scale(1.03);
      }
      img {
        margin-bottom: 20px;
        height: 80px;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1700px) {
  section {
    padding: 90px 8% 80px;
  }
}
@media (max-width: 1380px) {
  section {
    padding: 90px 5% 80px;
  }
}

@media screen and (max-width: 1290px) {
  .skills .skills-content .box {
    padding: 40px 40px 46px;
    img {
      width: 100%;
      height: 60px;
    }
    h3 {
      font-size: 21px;
    }
  }
}
