header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16%;
  background: transparent;
  transition: all 0.5s ease;
  .logo img {
    height: 50px;
  }
  .navlist {
    display: flex;
    a {
      font-size: var(--p-font);
      font-weight: 500;
      color: var(--other-color);
      margin-left: 40px;
      transition: all 0.5s ease;
      &:hover {
        color: var(--main-color);
        text-shadow: 3px 3px 20px var(--main-color),
          2px 1px 30px var(--text-color);
      }
    }
  }
  #menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  &.scrolled {
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 16px 16%;
  }
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  cursor: pointer;
  transition: all 0.5s ease;
  &.show {
    display: block;
  }
  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #075fe4b3;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 40px;
  }
}

.footer {
  padding: 22px 16%;
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  .copyright p {
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
  }
}

@media (max-width: 1700px) {
  header {
    padding: 20px 8%;
    &.scrolled {
      padding: 14px 8%;
    }
  }
  .footer {
    padding: 18px 8%;
  }
}
@media (max-width: 1380px) {
  header {
    padding: 20px 5%;
    &.scrolled {
      padding: 14px 5%;
    }
  }
  .footer {
    padding: 18px 5%;
  }
}

@media (max-width: 950px) {
  header {
    #menu-icon {
      display: block;
    }
    .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 255px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      transition: all 0.5s ease;
      a {
        display: block;
        padding: 17px;
        font-size: 22px;
      }
      &.active {
        right: 0;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
      }
    }
  }
}
@media (max-width: 470px) {
  .scroll-top {
    bottom: 80px;
    right: 20px;
  }
}
