header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16%;
  background: transparent;
  transition: all 0.5s ease;
  .logo {
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
    span {
      color: var(--main-color);
    }
  }
  .navlist {
    display: flex;
    a {
      font-size: var(--p-font);
      font-weight: 500;
      color: var(--other-color);
      margin-left: 40px;
      transition: all 0.5s ease;
      &:hover {
        color: var(--main-color);
        text-shadow: 3px 3px 20px var(--main-color),
          2px 1px 30px var(--text-color);
      }
    }
  }
  #menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  &.scrolled {
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 16px 16%;
  }
}

.footer {
  padding: 22px 16%;
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  .copyright p {
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
  }
  .scroll-top i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #075fe4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
  }
}
