<section class="hero" id="home">
  <div class="main-content" data-aos="fade-in">
    <h4>¡Hola!</h4>
    <h1>Soy <span>Elvin Josué</span></h1>
    <p>
      Soy desarrollador Full Stack con más de 3 años de experiencia. <br>
      Me especializo en el desarrollo de software para aplicaciones web y móvil multiplataforma usando tecnologías como
      Angular, React y Flutter.
    </p>
    <div class="social">
      <a href="https://www.linkedin.com/in/elvin-caceres" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
      <a href="https://github.com/josuecaceres" target="_blank"><i class='bx bxl-github'></i></a>
    </div>

    <div class="main-btn">
      <a href="#contact" class="btn">Contáctame</a>
      <a href="#" (click)="descargarPDF()" class="btn btn2">Descargar CV</a>
    </div>
  </div>

  <div class="avatar-elips">
    <img src="assets/avatar.png" alt="Avatar">
    <div class="tect tect1"><img src="assets/icons/angular.svg"></div>
    <div class="tect tect2"><img src="assets/icons/react.svg"></div>
    <div class="tect tect3"><img src="assets/icons/flutter.svg"></div>
    <div class="tect tect4"><img src="assets/icons/nodejs.svg"></div>
  </div>
</section>