<section class="about" id="about">
  <div class="about-img" data-aos="zoom-in-down">
    <img src="assets/avatar.png" alt="EJC_Avatar">
  </div>
  <div class="about-text" data-aos="zoom-in-up">
    <h2>Desarrollador Full Stack</h2>
    <div class="exp-area">
      <p class="exp">
        Experiencia: <span>4 años</span>
      </p>
      <p class="exp">
        Especialidad: <span>Desarrollo web y movil</span>
      </p>
      <p class="exp">
        Dirección: <span>Comayagua, Honduras</span>
      </p>
      <p class="exp">
        Email: <span>ejc.dev98&#64;gmail.com</span>
      </p>
      <p class="exp">
        Teléfono: <span>+504 9470-1343</span>
      </p>
    </div>
    <a href="#projects" class="btn">Ver proyectos</a>
  </div>
</section>