<section class="contact" id="contact">
  <div class="center-text" data-aos="fade-down">
    <h2>Contáctame</h2>
    <br>
    <p>Escríbeme un correo electrónico y entablemos una conversación.</p>
  </div>

  <div class="contact-form" data-aos="zoom-in">
    <form [formGroup]="form" (submit)="sendEmail()">
      <div class="control">
        <input type="text" [class.hasError]="isValidField('from_name')" formControlName="from_name"
          placeholder="Tu nombre" required>
        <span *ngIf="isValidField('from_name')" class="textError">
          {{ getFieldError('from_name') }}
        </span>
      </div>
      <div class="control">
        <input type="email" [class.hasError]="isValidField('from_email')" formControlName="from_email"
          placeholder="Correo eléctronico" required>
        <span *ngIf="isValidField('from_email')" class="textError">
          {{ getFieldError('from_email') }}
        </span>
      </div>
      <div class="control">
        <textarea [class.hasError]="isValidField('message')" formControlName="message" cols="30" rows="10"
          placeholder="Escribe tu mensaje aquí..." required></textarea>
        <span *ngIf="isValidField('message')" class="textError">
          {{ getFieldError('message') }}
        </span>
      </div>
      <button type="submit" class="send-btn" value="Enviar mensaje">Enviar mensaje</button>
    </form>
  </div>
</section>
