<section class="contact" id="contact">
  <div class="center-text" data-aos="fade-down">
    <h2>Contáctame</h2>
  </div>

  <div class="contact-form" data-aos="zoom-in">
    <form action="">
      <input type="text" placeholder="Tu nombre" required>
      <input type="text" placeholder="Correo eléctronico" required>
      <textarea name="" id="" cols="30" rows="10" placeholder="Escribe tu mensaje aquí..."></textarea>
      <input type="submit" value="Enviar mensaje" class="send-btn">
    </form>
  </div>
</section>