<section class="projects" id="projects">
  <div class="center-text" data-aos="fade-down">
    <h2>Mis <span>Proyectos</span></h2>
  </div>

  <div class="projects-content" data-aos="zoom-in-up">
    @for (project of [1,2,3,4,5,6,7,8,9,10]; track $index) {

    <div class="row">
      <img src="assets/images/default.jpg" alt="">
      <div class="main-row">
        <div class="row-text">
          <h5>WebSite</h5>
        </div>
        <div class="row-icon">
          <i class='bx bxl-github'></i>
        </div>
      </div>
      <h4>Project name</h4>
    </div>
    }
  </div>
</section>